<div *ngIf="username != null">
    <app-navbar></app-navbar>
    <div class="container bill-body">
      <div class="row">
        <div class="col md-12">
            <form #customerBill="ngForm" (ngSubmit)="createBill(customerBill)">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="exampleFormControlSelect1">Select Customer</label>
                          <select class="form-control" ngModel #selRole="ngModel" name="selRole">
                            <option *ngFor="let r of allRoles[0]" value="{{r.roleTitle}}">{{r.roleTitle}}</option>
                          </select>
                      </div>
                  <div class="form-group col-md-6">
                      <label>Email:</label>
                      <input ngModel #email="ngModel" type="email" name="email" class="form-control" minlength="5" required />
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Password:</label>
                    <input ngModel #password="ngModel" type="password" name="password" class="form-control" minlength="5" required />
                  </div>
                  <div class="form-group col-md-6">
                      <label>Contact:</label>
                      <input ngModel #contact="ngModel" type="text" name="contact" class="form-control" minlength="5" required />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1">Select Roles</label>
                      <select class="form-control" ngModel #selRole="ngModel" name="selRole">
                        <option *ngFor="let r of allRoles[0]" value="{{r.roleTitle}}">{{r.roleTitle}}</option>
                      </select>
                  </div>
                  <div class="form-group col-md-6">
                    <button style="float:right" type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!customerBill.valid">
                      Register User  
                    </button>
                  </div>
                </div>                    
              </form>
        </div>

      </div>

    </div>
</div>

