<div *ngIf="username != null">
    <app-navbar></app-navbar>
    <div class="container bill-body">
      <!-- Bill Form Starts -->
      <div class="row">
        <div class="col md-12">
          <form #customerBill="ngForm" (ngSubmit)="createBill(customerBill)">
            <div class="form-row">
              <div class="form-group col-md-2">
                <label>Bill #</label>
                <input [(ngModel)] = "billNo" type="text" name="billNo" [value]="billNo" class="form-control" disabled />
              </div>
              <div class="form-group col-md-5">
                <label>Select Customer</label>
                <input class="form-control" [(ngModel)]="selected" [typeahead]="custName" name="customer" autocomplete="off" required>
              </div>
              <div class="form-group col-md-2">
                <label>Date</label>
                <input [(ngModel)] = "currentDate" type="text" name="currentDate" class="form-control" [value]="formatDate" disabled />
              </div>
              <div class="form-group col-md-3">
                  <label>Total Amount</label>
                  <input type="number" class="form-control" [(ngModel)]="totalAmount" name="total" [value] = "totalAmount" disabled />
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label>Than</label>
                <input ngModel  #than="ngModel" type="number" name="than" class="form-control" required />
              </div>
              <div class="form-group col-md-4">
                <label>Product</label>
                <input ngModel  #product="ngModel" type="text" name="product" class="form-control" minlength="5" required />
              </div>
              <div class="form-group col-md-2">
                <label>Quantity</label>
                <input ngModel  #qty="ngModel" type="number" name="qty" class="form-control" required />
              </div>
              <div class="form-group col-md-2">
                <label>Rate</label>
                <input ngModel  #rate="ngModel" type="number" name="rate" class="form-control" required />
              </div>
              <div class="form-group col-md-2">
                <label></label>
                <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!customerBill.valid">
                  Add in Bill  
                </button>
              </div>
            </div>
            <div class="form-row">
            </div>                    
          </form>
        </div>
      </div>

      <!--Bill Details Table -->
      <div class="row">
        <div class="col-md-12 table-responsive">
          <table class="table">
            <caption>Bill Items</caption>
              <thead>
                <tr>
                  <th scope="col">Than</th>
                  <th scope="col">Product</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Delete Item</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of detailsArray">
                  <td>{{d.than}}</td>
                  <td>{{d.product}}</td>
                  <td>{{d.quantity}}</td>
                  <td>{{d.rate}}</td>
                  <td>{{d.subtotal}}</td>
                  <td><button type="button" class="btn btn-sm btn-danger" (click)="deleteRow(d.serial)">Remove</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group col-md-12" *ngIf = "detailsArray.length != 0">
              <button type="submit" class="btn btn-info btn-md btn-block" (click)="finalBill()">
                Submit  
              </button>
            </div>
          </div>
        </div>

      </div>
  </div>

