.dashboard{
    background-image:url('../../assets/img/login.jpg');
    padding-top: 1px;
    padding-bottom: 120px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;  
    background-size: 100% 120%;
  }